# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EtAlii.ML.Aore.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Git\Github\Vrenken\EtAlii.ML.Aore\Source\.idea\.idea.EtAlii.ML.Aore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
